<link rel="stylesheet" href="/css/style.css">
<aside class="sidebar">

<div class="sidebar-brand">
<div class="icon">рҹҺү</div>
<h1>FestaGest</h1>
</div>

<nav>

<a href="/dashboard">рҹ“Ҡ Dashboardвҡ пёҸ</a>
<a href="/pedidos">рҹӣ’ Pedidosвң”пёҸ</a>
<a href="/clientes">рҹ‘Ҙ Clientesвң”пёҸ</a>
<a href="/entregas">рҹҡҡ Entregasвҡ пёҸ</a>
<a href="/fornecedores">Fornecedoresвҡ пёҸ</a>
<a href="/produtos">рҹ“Ұ Produtosвң”пёҸ</a>
<a href="/relatorios">рҹ“Ҳ RelatГіriosвҡ пёҸ</a>
<a href="/usuarios">вҡҷпёҸ funcionarioвң”пёҸ</a>

</nav>

<div class="sidebar-footer">
В© 2026 Sistema de Festas
</div>

</aside>

<script>
const links = document.querySelectorAll(".sidebar nav a");
const currentPath = window.location.pathname; // pega a URL atual

links.forEach(link => {
  // compara o href do link com a URL atual
  if (link.getAttribute("href") === currentPath) {
    link.classList.add("active");
  }
});
</script>