<link rel="stylesheet" href="/css/style.css">
<aside class="sidebar">

<div class="sidebar-brand">
<div class="icon">рџҺ‰</div>
<h1>FestaGest</h1>
</div>

<nav>

<a href="/dashboard">рџ“Љ Dashboardвљ пёЏ</a>

<div class="nav-group">
  <div class="nav-group-title">рџ›’ Pedidos</div>
  <a class="subtitle" href="/pedidos">Fazer Pedidoвњ”пёЏ</a>
  <a class="subtitle" href="/orcamentos">OrГ§amentosвњ”пёЏ</a>
  <a class="subtitle" href="/entregas"> Entregasвњ”пёЏ</a>
</div>

<div class="nav group">
  <div class="nav-group-title">Cadastros</div>
  <a class="subtitle" href="/clientes">рџ‘Ө Clientesвњ”пёЏ</a>
  <a class="subtitle" href="/fornecedores">Fornecedoresвњ”пёЏ</a>
  <a class="subtitle" href="/produtos">рџ“¦ Produtosвњ”пёЏ</a>
  <a href="/usuarios">вљ™пёЏ funcionarioвњ”пёЏ</a>
</div>

<div class="nav group">
  <div class="nav-group-title">relatorios</div>
  <a href="/relatorios">рџ“€devedoresвљ пёЏ</a>
</div>

</nav>

<div class="sidebar-footer">
В© 2026 Sistema de Festas
</div>

</aside>

<script>
const links = document.querySelectorAll(".sidebar nav a");
const currentPath = window.location.pathname; // pega a URL atual

links.forEach(link => {
  // compara o href do link com a URL atual
  if (link.getAttribute("href") === currentPath) {
    link.classList.add("active");
  }
});
</script>