<link rel="stylesheet" href="/css/dashborard.css">
<div class="main">

<h1>Dashboard</h1>

<!-- STATS -->
<div class="grid-4" id="stats"></div>

<!-- CHART + DELIVERIES -->
<div class="grid-2">

<div class="card">
<h2>Faturamento últimos meses</h2>
<div class="chart" id="chart"></div>
</div>

<div class="card">
<h2>Entregas de Hoje</h2>
<div id="deliveries"></div>
</div>

</div>

<!-- TABLE + ACTIVITY -->

<div class="grid-table">

<div class="card">
<h2>Pedidos Recentes</h2>
<table id="orders"></table>
</div>

<div class="card">
<h2>Atividades</h2>
<div id="activity"></div>
</div>

</div>

</div>

<script src="/js/dashboard.js" ></script>